
body {
    color: white;
    text-align: center;
    background-color:  black;  
   
    transition: background-color 1000ms linear;
    
}

/* Styles the box area in which the "Quote" and its author appear */
#quoteBox {
    background-color: white;
    color black;
    width: 45%;
	margin: 0 auto 0 auto;
    border: 1em solid black;
    padding-top: 4em;
    height:auto;    
    border-radius: 5em;
    
}

/* Reduce area between bottom of quote and the "get quote" and "tweet buttons" */
#buttonBox {
    
    margin-top: -5em;    
}

/*This styles the random quote */
#quote {
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;  
    transition: color 1000ms linear;
}
        
/* This styles the author's name */    

#author {
    font-size: 1.5em;
    font-style: oblique;
    font-family: 'Arial', sans-serif;
    color: black;
    padding-right: 1em;
    float: right;
    transition: color 1000ms linear;
}

/* Styles the buttons */
.btn {
        
    background-color: black;
    color: white;
    transition: background-color 1000ms linear;
    margin: 0 1.25em 1.5em 1.25em;
    width: 10.5em;
    height: 3em;
    font-weight: 800;
	border-radius: 10%;
}
.btn:link {
    background-color: black;
    color: white;
}
.btn:visited {
    background-color: black;
    color: white;
}

.btn:focus {
    background-color: black;
    color: white;
}
.btn:hover {
    background-color: black;
    color: white;
}
.btn:active {
    background-color: black;
    color: white !important;
    
}

/* Styles the tweet icon */
.fa-twitter {
  
	margin-top: -1em;
    font-size: 1.8em;
}


/* Styles the title */
#titleStyle {
    
    font-size: 6em;
    font-family: 'Lobster', sans-serif;
    padding-top:   .5em;
    padding-bottom: .5em;    
}

/* This styles the "surroundings" div in the middle of the page which is combined with a background image through the "background-blend-mode" using a difference mode */
#surroundings {
    padding: 6em; 
    transition: background-color 1000ms linear;
    background-image: url("http://polytopia.net/random-quote-backgroung.jpg"); 
    background-color: rgba(255,255,255,0.65);
    background-blend-mode:difference;
}



